<body style="background-color : #000">
<img src="air_elemental.png">
<img src="angel.png">
<img src="archer_medusa.png">
<img src="baby_chimera.png">
<img src="bats.png">
<img src="beast.png">
<img src="bee.png">
<img src="blood_mage.png">
<img src="blue_crab.png">
<img src="blue_dragon.png">
<img src="blue_drake.png">
<img src="blue_fish.png">
<img src="blue_horror.png">
<img src="blue_medusa.png">
<img src="blue_ninja.png">
<img src="blue_slime.png">
<img src="blue_wurm.png">
<img src="card_soldier_1.png">
<img src="card_soldier_2.png">
<img src="card_soldier_3.png">
<img src="card_soldier.png">
<img src="chimera.png">
<img src="crustean.png">
<img src="dancer.png">
<img src="demon.png">
<img src="dirty_ghost.png">
<img src="drake_knight.png">
<img src="eye.png">
<img src="faerie.png">
<img src="fire_bird.png">
<img src="fire_elemental_1.png">
<img src="fire_elemental.png">
<img src="flesh_golem.png">
<img src="flower.png">
<img src="flying_devil_1.png">
<img src="flying_devil.png">
<img src="flying_snake.png">
<img src="gargoyle.png">
<img src="ghost.png">
<img src="goblin_1.png">
<img src="goblin_knight.png">
<img src="goblin.png">
<img src="gold_dragon.png">
<img src="gold_medusa.png">
<img src="golem.png">
<img src="green_baby_dragon.png">
<img src="green_crab.png">
<img src="green_medusa.png">
<img src="green_slime.png">
<img src="harpie.png">
<img src="hero.png">
<img src="imp.png">
<img src="insect.png">
<img src="knight.png">
<img src="liche.png">
<img src="lion.png">
<img src="living_picture.png">
<img src="mandragora.png">
<img src="manticore.png">
<img src="mushroom_babies.png">
<img src="mushroom_people.png">
<img src="nature_elemental.png">
<img src="priest.png">
<img src="puppet.png">
<img src="rabbit.png">
<img src="reaper.png">
<img src="red_baby_dragon.png">
<img src="red_crab.png">
<img src="red_dragon.png">
<img src="red_drake.png">
<img src="red_fish.png">
<img src="red_horror.png">
<img src="red_medusa.png">
<img src="red_ninja.png">
<img src="red_slime.png">
<img src="red_wurm.png">
<img src="rogue.png">
<img src="satan.png">
<img src="schoolgirl.png">
<img src="scorpion.png">
<img src="shadow.png">
<img src="skeleton.png">
<img src="solider_1.png">
<img src="solider.png">
<img src="squid.png">
<img src="storm_elemental.png">
<img src="telepath.png">
<img src="thief.png">
<img src="tree.png">
<img src="vampire.png">
<img src="warrior_0.png">
<img src="warrior.png">
<img src="water_elemental.png">
<img src="werewolf_1.png">
<img src="werewolf.png">
<img src="wizard.png">
<img src="yellow_crab.png">
<img src="zombi.png">
