/* stylesheet */

@font-face{
  font-family : "jgs";
  src : url("donjon.ttf");
}

*{
  margin : 0;
  padding :0;
  font-weight : normal !important;
  font-size : 1rem;
  font-family : "jgs";
  vertical-align : top;
  box-sizing : border-box;
  image-rendering : crisp-edges;
}

body{
  padding : 1rem;
  background-color : #000;
  color : #fff;
  height : 100vh;
}

h2{
  text-align : center;
}

section {
  margin-bottom : 1rem;
  padding-bottom : 1rem;
}
 
#view{
  display : inline-block;
  width :100%;
  background-repeat : no-repeat;
  background-position : center 2rem;
}


#actions{
  display : inline-block;
}

#view_content {
  text-align :center;
  padding-top : 3rem;
  min-height : 380px;
}

.content {
  vertical-align : bottom;
  text-align : left;
  display : inline-block;
  margin : 0rem 1rem 1rem 0rem;
  background-position : center center;
  background-repeat : no-repeat;
}

.content_attributes * {
  display : inline-block;
  padding-left : 0.5rem;
  background-color : #000;
}

h3 {
  padding-bottom : 0;
  padding : 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color : #000;
}

.content:hover{
  outline : solid #0f0 1px;
  cursor : pointer;
}

.content h3{
  display : inline-block;
}

.player h3{
  color : #0f0;
}

.not_player h3{
  color : #f0f;
}

.pv:after{
  content :' ♥';
  color :#f00;
}

.pd:after{
  content : ' ♥';
  color : #00F;
}

.pa:after{
  content : ' ☼';
  color : #FF0;
}

.card {
  width: 12rem;
  border : solid 1px;
  padding : 1rem;
  display : inline-block;
  margin-right : 1rem;
  margin-bottom : 1rem; 
}

.attack {
  border-color : #f00;
}

.content_attributes .equipement{
  color : #888;
}

.equipement {
  border-color : #888;
}

.defense {
  border-color : #00f;
}

.mouvement {
  border-color : #ff0;
}

.objet {
  border-color : #0ff;
}

.card {
  text-align :left;
}

.card_header {
  padding-bottom : 0.5rem;
  margin-bottom : 0.5rem;
  border-bottom : solid 1px;
}

.card_header * {
  display : inline-block;
}

.card_name {
  width : 7.75rem;
}

.card_cost {
  width : 2rem;
}
.card_cost:after{
  content : ' ☼';
  color : #FF0;
}

.turn .card:hover {
  background-color : #080;
  cursor : pointer;
}

.art {
  display : block;
  margin : auto;
  margin-top : 1rem;
}

.hand {
  width : 100%;
}

.status {
  color : #088;
}

#hand_content {
  text-align : center;
}

#turn {
  margin-top : 1rem;
  text-align : center;
}

#turn * {
  display : inline-block;
  margin-right : 1rem;
  vertical-align : middle;
}

#turn_content {
  padding : 0.5rem;
  border : solid 1px #0f0;
}

#turn_content:hover {
  background-color : #080;
  cursor : pointer;
}

#last_action {
  padding : 0.5rem;
  border : solid 1px #888;
}
